.hero-img {
  background-image: url("../../img/hero-img.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.hero-img-decor-circ1 {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 40%;
}

.hero-img--info {
  background-color: rgba(212, 214, 213, 0.5);
  grid-column: 1/4;
  margin: 20% 10% 19%;
}

.info--hero-img {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  margin: 0;
  padding: 10px;
}

.tittle--hero-img {
  display: inline-block;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  grid-column: 1/3;
  max-width: 1000px;
  width: 95%;
}

.decor-logo {
  display: none;
}

.decor-menu {
  display: none;
}

header {
  background-color: #d4d6d5;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 0;
}

.logo {
  padding: 7% 0 5% 5%;
  width: 100%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: #003474;
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  transition: all ease-in-out 500ms;
  width: 1.75em;
}

.hamburger::after {
  transform: translateY(3px);
}

.hamburger::before {
  transform: translateY(-6px);
}

.menu-open .hamburger {
  transform: rotate(45deg);
}

.menu-open .hamburger::before {
  opacity: 0;
}

.menu-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.menu-toggle {
  align-self: center;
  grid-column: 3/4;
  justify-self: center;
  padding: 1em;
}

.site-nav {
  background: #003474;
  clip-path: circle(0px at top right);
  position: absolute;
  top: 24%;
  transition: clip-path ease-in-out 700ms;
}
@media (min-width: 375px) {
  .site-nav {
    top: 20%;
  }
}
@media (min-width: 414px) {
  .site-nav {
    top: 23%;
  }
}
@media (min-width: 490px) {
  .site-nav {
    top: 27%;
  }
}

.site-nav a {
  color: #ffffff;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.6em 6.8em 2em 3em;
  text-decoration: none;
}
@media (min-width: 375px) {
  .site-nav a {
    padding: 1.6em 9.8em 2em 3em;
  }
}
@media (min-width: 414px) {
  .site-nav a {
    padding: 1.6em 10.8em 2em 3em;
  }
}
@media (min-width: 490px) {
  .site-nav a {
    padding: 2.6em 14.5em 2em 3em;
  }
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #e43d03;
}

.site-nav-open {
  clip-path: circle(150% at top right);
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about {
  background-color: #d4d6d5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.line-color-orange {
  background-color: #e43d03;
  border-color: transparent;
  grid-column: 1/4;
  grid-row: 2/3;
  height: 5px;
  margin: 1% 0 10% 13%;
  width: 36%;
}

.info-about {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  margin: 0;
  padding: 4% 5% 1% 10%;
}

.info-about + .info-about {
  padding: 4% 5% 1% 10%;
}

.info-about:last-child {
  padding-bottom: 15%;
}

.info-container {
  grid-column: 1/4;
  grid-row: 3/4;
}

.tittle-about {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  grid-column: 1/4;
  grid-row: 1/1;
  margin: 0;
  padding: 10% 10% 1% 10%;
}

.circ-color-blue {
  border: solid 3px #003474;
}

.circ-color-orange {
  border: solid 3px #e43d03;
}

.license {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.license-circ {
  border-radius: 50%;
  height: 200px;
  line-height: 190px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.license-container-1 {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-bottom: 30%;
  position: relative;
}

.license-container-2 {
  grid-column: 1/4;
  grid-row: 4/5;
  margin-bottom: 30%;
  position: relative;
}

.license-container-3 {
  grid-column: 1/4;
  grid-row: 5/6;
  margin-bottom: 30%;
  position: relative;
}

.license-container-4 {
  grid-column: 1/4;
  grid-row: 6/7;
  margin-bottom: 30%;
  position: relative;
}

.license-decor-circ2 {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 40%;
}

.line-color-blue .line-color-blue {
  background-color: #003474;
  border-color: transparent;
  grid-column: 1/4;
  grid-row: 2/3;
  height: 5px;
  margin: 1% 0 10% 23%;
  width: 36%;
}

.license-images {
  vertical-align: middle;
  width: 90%;
}

.license-info {
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

.license-info--link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.license-container {
  padding: 10% 0% 21% 0%;
}

.link-blue {
  color: #003474;
}

.link-orange {
  color: #e43d03;
}

.p-posicition {
  bottom: -23%;
  left: 34%;
  position: absolute;
}

.tittle-license {
  align-self: end;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  grid-column: 1/5;
  grid-row: 1/2;
  margin: 0 0 0 10%;
  justify-self: center;
}

.info-services {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  margin: 0 auto;
  width: 83%;
}

.line-color-orange-serv {
  background-color: #e43d03;
  border-color: transparent;
  grid-column: 1/4;
  grid-row: 1/3;
  height: 5px;
  margin: 20% 0 10% 13%;
  width: 36%;
}

.messanger {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.migrate {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.security {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.services {
  background-color: #d4d6d5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-decor-circ3 {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
}

.services-images {
  width: 20%;
}

.subtittle-services {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 5% 0 5%;
  text-transform: uppercase;
}

.sharepoint {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.sql {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.tittle-services {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  grid-column: 1/4;
  grid-row: 1/1;
  margin: 0;
  padding: 10% 10% 1% 10%;
}

.view {
  grid-column: 1/4;
  margin-bottom: 20%;
  text-align: center;
}

.img-size {
  width: 25%;
}

.container-logo {
  position: relative;
  grid-column: 1/5;
}

.container-info {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10%;
}

.footer-bg {
  width: 100%;
}

.icono-contact {
  align-self: center;
  grid-column: 1/2;
  justify-self: center;
  width: 50%;
}

.icono-size {
  width: 35%;
}

.info {
  align-self: center;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  grid-column: 2/5;
}

.info-contact {
  background-color: #003474;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 15%;
}

.info-mg {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.line-color-blue-contact {
  background-color: #003474;
  border-color: transparent;
  height: 5px;
  margin: 0 0 10% 39%;
  width: 36%;
}

.logo-contact {
  position: absolute;
  bottom: 0%;
  grid-column: 1/5;
  width: 90%;
  left: 5%;
}

.social-media {
  grid-column: 1/5;
  margin-top: 10%;
  text-align: center;
}

.social-img {
  width: 10%;
}

.social-link {
  padding: 2%;
}

.social-size {
  width: 6%;
}

.social-size2 {
  width: 12%;
}

.tittle-contact {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 10% 10% 1% 10%;
  text-align: center;
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
