@import 'hero-img/hero-img';
@import 'header/header';
@import 'header/menu';
@import 'about/about';
@import 'license/license';
body {
    margin: 0;
}

a ul {
    display: none;
}

li {
    list-style: none;
}

li a {
    color: #ffffff;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6%;
    text-decoration: none;
}

li a:active {
    background-color: #e43d03;
    color: #003474;
}