.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: #ffffff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 3px;
    transition: all ease-in-out 500ms;
    width: 1.75em;
}

.hamburger::after {
    transform: translateY(3px);
}

.hamburger::before {
    transform: translateY(-6px);
}

.menu-open .hamburger {
    transform: rotate(45deg);
}

.menu-open .hamburger::before {
    opacity: 0;
}

.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.menu-toggle {
    align-self: center;
    grid-column: 3/4;
    justify-self: center;
    padding: 1em;
}

.site-nav {
    background: #003474;
    clip-path: circle(0px at top right);
    position: absolute;
    top: 24%;
    transition: clip-path ease-in-out 700ms;
}

.site-nav a {
    color: #ffffff;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.6em 6.8em 2em 3em;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background-color: #e43d03;
}

.site-nav-open {
    clip-path: circle(150% at top right);
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media(min-width:768px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        clip-path: initial;
        float: right;
        height: auto;
        margin-right: 10px;
        position: relative;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav a {
        margin: 1em;
        padding: 0;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background-color: transparent;
        color: #e43d03;
    }
}