.info-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    margin: 0 auto;
    width: 83%;
}

.line-color-orange-serv {
    background-color: #e43d03;
    border-color: transparent;
    grid-column: 1/4;
    grid-row: 1/3;
    height: 5px;
    margin: 20% 0 10% 13%;
    width: 36%;
}

.messanger {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.migrate {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.security {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.services {
    background-color: #d4d6d5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.services-decor-circ3 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
}

.services-images {
    width: 20%;
}

.subtittle-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 5% 0 5%;
    text-transform: uppercase;
}

.sharepoint {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.sql {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.tittle-services {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    grid-column: 1/4;
    grid-row: 1/1;
    margin: 0;
    padding: 10% 10% 1% 10%;
}

.view {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
}

.img-size {
    width: 25%
}