.info-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    margin: 0 auto;
    width: 83%;
    @media(min-width: 1024px) {
        width: 35%;
    }
}

.line-color-orange-serv {
    background-color: #e43d03;
    border-color: transparent;
    grid-column: 1/4;
    grid-row: 1/3;
    height: 5px;
    margin: 20% 0 10% 13%;
    width: 36%;
    @media(min-width: 1024px) {
        margin: 15% 0 10% 13%;
        width: 17%;
    }
}

.messanger {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 3/5;
    }
    @media(min-width: 1024px) {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-bottom: 15%;
    }
}

.migrate {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 3/5;
    }
    @media(min-width: 1024px) {
        grid-column: 2/4;
        grid-row: 2/3;
        margin-bottom: 15%;
    }
}

.security {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 1/3;
    }
    @media(min-width: 1024px) {
        grid-column: 2/4;
        grid-row: 3/4;
        margin-bottom: 15%;
    }
}

.services {
    background-color: #d4d6d5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media(min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.services-decor-circ3 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    @media(min-width: 768px) {
        grid-column: 4/5;
        justify-self: end;
        width: 70%;
    }
    @media(min-width: 1024px) {
        width: 50%;
    }
}

.services-images {
    width: 10%;
    @media(min-width: 768px) {
        width: 20%;
    }
    @media(min-width: 768px) {
        width: 8%;
    }
}

.subtittle-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 5% 0 5%;
    text-transform: uppercase;
    @media(min-width: 1024px) {
        font-size: .9rem;
    }
}

.sharepoint {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 1/3;
    }
    @media(min-width: 1024px) {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-bottom: 15%;
    }
}

.sql {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 1/3;
    }
    @media(min-width: 1024px) {
        grid-column: 3/5;
        grid-row: 2/3;
        margin-bottom: 15%;
    }
}

.tittle-services {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    grid-column: 1/4;
    grid-row: 1/1;
    margin: 0;
    padding: 10% 10% 1% 10%;
    @media(min-width: 768px) {
        font-size: 2.3rem;
    }
    @media(min-width: 1024px) {
        font-size: 2rem;
    }
}

.view {
    grid-column: 1/4;
    margin-bottom: 20%;
    text-align: center;
    @media(min-width: 768px) {
        grid-column: 3/5;
    }
    @media(min-width: 1024px) {
        grid-column: 3/5;
        grid-row: 3/4;
        margin-bottom: 15%;
    }
}

.img-size {
    width: 20%;
    @media(min-width: 768px) {
        width: 30%;
    }
    @media(min-width: 1024px) {
        width: 16%;
    }
}

@media(min-width: 1024px) {
    .ser-img {
        width: 9.5%;
    }
    .sec-img {
        width: 7%;
    }
    .sha-img {
        width: 10%;
    }
}