.about {
    background-color: #d4d6d5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.line-color-orange {
    background-color: #e43d03;
    border-color: transparent;
    grid-column: 1/4;
    grid-row: 2/3;
    height: 5px;
    margin: 1% 0 10% 13%;
    width: 36%;
}

.info-about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    margin: 0;
    padding: 4% 5% 1% 10%;
}

.info-about+.info-about {
    padding: 4% 5% 1% 10%;
}

.info-about:last-child {
    padding-bottom: 15%;
}

.info-container {
    grid-column: 1/4;
    grid-row: 3/4;
}

.tittle-about {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    grid-column: 1/4;
    grid-row: 1/1;
    margin: 0;
    padding: 10% 10% 1% 10%;
}